/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.background-pink{
    background-color: pink;
}
.background-salmon{
    background-color: salmon;
}
.background-blue{
    background-color: blue;
}
.background-white{
    background-color: white;
}
.background-lightgray{
    background-color: lightgray;
}
.background-dodgerblue{
    background-color: dodgerblue;
}
.background-orange{
    background-color: orange;
}
.background-green{
    background-color: green;
}
.background-lightblue{
    background-color: lightblue;
}
.background-aquamarine{
    background-color: aquamarine;
}
.background-darkcyan{
    background-color: darkcyan;
}
.background-lightgreen{
    background-color: lightgreen;
}
.background-lightslategray{
    background-color: lightslategray;
}

/* grids */

.col-2{
    flex-basis: calc((100% / 12) * 2);
}
.col-3{
    flex-basis: calc((100% / 12) * 3);
}
.col-4{
    flex-basis: calc((100% / 12) * 4);
}

/* PAGE STYLES */

/* header styles */

.nav-bar-container{
    display: flex;
    justify-items: center; 
    height: 100px;
    padding: 15px;
}

.nav-bar{
    display: flex;    
    margin: 0 auto;
    flex-basis: 80%;
    padding: 20px;
    justify-content: space-between;
}

.lists-nav-bar{
    display: flex;
    justify-content: space-around;  
    list-style-type: none;
    align-self: center;
    column-gap: 100px;
}

.logo-nav-bar{
  flex: 1 1 0;       
  max-width: 60px; 
  min-width: 20px;   
  height: auto;
  align-self: center;

}

.button-nav-bar{
  flex: 1 1 0;       
  max-width: 60px; 
  min-width: 20px;   
  height: auto;
  align-self: center;
}

/* main styles */

.hello-section-container{
    height: 200px;
    display: flex;
}

.first-section-container{
    height: 300px; 
}

.second-section{
    height: 300px;
}

.third-section{
    height: 300px;
}

.close-section{
    height: 500px;
}

.hello-section{
     height: auto;
    display: flex;
    background-color: blue;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.hello-section-img{      
  flex-basis: 80%;
  align-self: center;
  max-width: 80%;    
  width: 100%;       
  height: auto;
  padding: 30px;
}